<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left">
       <div class=" text-danger "> &copy; {{ test | date: "yyyy" }} </div> 
       <a href="vroomng.com.coms" class="font-weight-bold ml-1" target="_blank">Vroom</a>
       <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="font-weight-bold ml-1" target="_blank">Vroom</a>
      </div>
    </div>
  </div>
</footer>
