<app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert>
<div class="main-container">
    <div class="header">
        <div class="add-admin-form">
           <div class="card">
            <div class="card-title">
                <h5>Add Quest</h5>
            </div>
        <div class="card-body">
            <form [formGroup]="questForm" [ngSwitch]="submit()">
               <div>
                    <div >
                        <div>
                         <ng-container formArrayName="description">
                            <ng-container *ngFor="let descriptionsForm of description.controls; let i = index ">
                                    <div >
                                        <label>Description</label>
                                    </div>
                                     <!-- <app-vr-input pInputText [control]="title" type="text" placeholder="Quest Title" ></app-vr-input>  -->
                                    <div>
                                        <input placeholder="title" formControlName="{{i}}">
                                    </div>
                                    <div>
                                        <input placeholder="content" formControlName="content">
                                    </div>
                                    <div>
                                        <div>
                                            <label>Icon</label>
                                        </div>
                                        <select name="type" formControlName="type">
                                            <option *ngFor="let option of iconType" [value]="option.code">{{ option.icon }}</option>
                                        </select>
                                    </div>

                                    <button (click)="delete(i)"><i class="fa-solid fa-trash"></i></button>
                            </ng-container>
                         </ng-container>
∫∫
                         <button (click)="addDesc()" class="button btn-primary my-4"><i class="fa-solid fa-circle-plus"></i></button>
                         <button type="submit" class="button btn-primary my-4">sub</button>
                        </div>
                    </div>
                </div>
               
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="Quest Title">Quest Tile*</label>
                            </div>
                             <app-vr-input pInputText [control]="title" type="text" placeholder="Quest Title" ></app-vr-input> 
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="lastname">Subtitle*</label>
                            </div>
                             <app-vr-input pInputText [control]="subTitle" type="text" placeholder="SubTitle" ></app-vr-input> 
                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="email">Description*</label>
                            </div>
                            <app-vr-input pInputText [control]="description" type="text" placeholder="Quest Description" ></app-vr-input> 
                        
                        </div>
                    </div> -->
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="phone">Icon*</label>
                            </div>
                            <input type="file" (change)="onFileSelected($event)" accept="image/pdf*" id="icon" name="icon">
                              
                        </div>
                    </div>
                </div>
               <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="point">Points*</label>
                            </div>
                            <app-vr-input pInputText pKeyFilter="int" [control]="points" placeholder="Assign Points"/>   
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="city">Quest Target*</label>
                            </div>
                                <app-vr-input pInputText pKeyFilter="int" [control]="target" placeholder="Quest Target"/>    
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="Start Date">Start Date*</label>
                            </div>
                            <app-vr-input pInputText type="date" [control]="starts" name="start date" placeholder="Start Date" />
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="Start Date">End Date*</label>
                            </div>
                            <app-vr-input pInputText type="date" [control]="expires" name="end date" placeholder="End Date" />
                        </div>
                    </div>   
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="city">Quest Type*</label>
                            </div>
                            <select id="type" name="type" formControlName="type">
                                <option *ngFor="let option of userType" [value]="option.code">{{ option.type }}</option>
                            </select>
                        </div>
                    </div>
                </div> 
                <!-- <div class="btn"> -->
                    <!-- <button type="submit" label="submit"  class="button btn-primary my-4"
                    (click)="submit()">
                       Add 
                    </button>
                    <button type="submit" label="submit" class="button" (click)="reset()">
                       Cancel
                    </button> -->
                <!-- </div> -->
              </form>
            </div>
           </div>
        </div>
    </div>
    <div class="footer"></div>

</div>