<!-- <h6>Partners withdraw Request</h6> -->
<app-loader *ngIf="!showLoader"></app-loader>
                    <p-table
                        [value]="withdraw"
                        [paginator]="true"
                        [rows]="6"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate=""
                        [rowsPerPageOptions]="[10, 25, 50]"
                    >
                        <ng-template pTemplate="header">
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ;">
                                <th class="w-[10%] capitalize">Driver Code</th>
                                <th class="w-[10%] capitalize">Driver Name</th>
                                <th class="w-[10%] capitalize">Last Name</th>
                                <!-- <th class="w-[5%] capitalize">Phone</th> -->
                                <th class="w-[10%] capitalize">Withdraw Amount</th>
                                <th class="w-[10%] capitalize">Request Date</th>
                                <th class="w-[10%] capitalize">Status</th>
                                <th class="w-[10%] capitalize">Action</th>                    
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-withdraw>
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ">
                                <td>DRV{{ withdraw.id }}</td>
                                <td>{{ withdraw.firstname }}</td>
                                <td>{{ withdraw.lastname }}</td>
                                <!-- <td>{{ withdraw.phone_no }}</td>    -->
                                <td>{{ withdraw.amount }}</td>
                                <td>{{ withdraw.withdrawal_time | date: 'short':'UTC'
                                }}</td>
                                <td>
                                    <div *ngIf="withdraw.paid == 1">
                                        Paid
                                    </div>
                                    <div *ngIf="withdraw.paid == 0">
                                        In process
                                    </div>               
                                </td>
                              
                                <td>
                                    <i class="fa-solid fa-clock-rotate-left"></i>
                                    <i class="fa-solid fa-file mx-2"></i>
                                </td>
                               
                               
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorleft">
                                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                        </p-table>  
    