<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>
<!-- Page content -->
<div class="container">
          <form role="form" #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa-solid fa-lock text-primary"></i></span>
                </div>
                <!-- <input class="form-control" placeholder="Password" type="password"> -->
                <input class="form-control" #old_pass="ngModel" 
                  type="password" name="old_password" [(ngModel)]="credentials.old_pass"
                  placeholder="Enter Your Password" required pattern="^[a-zA - Z0-9]*$"
                    />
              </div>
              <p *ngIf="old_pass.errors && old_pass.touched && old_pass.dirty" class="form-error">
                Password must have atleast a letter and a number
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa-solid fa-lock text-primary"></i></span>
                </div>
                <!-- <input class="form-control" placeholder="Password" type="password"> -->
                <input class="form-control" #new_pass="ngModel" 
                  type="password" name="new_password" [(ngModel)]="credentials.new_pass"
                  placeholder="Enter New Password" required pattern="^[a-zA - Z0-9]*$"
                    />
              </div>
              <p *ngIf="new_pass.errors && new_pass.touched && new_pass.dirty" class="form-error">
                Password must have atleast a letter and a number
            </div>
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4"
             
              >
              Change Passsword
            </button>
            </div>
          </form>
        </div>
   
      <div class="row mt-3">
        <div class="col-6">
          <a  routerLink="/forget-password" class="text-light"><small>Forgot password?</small></a>
        </div>
    
</div>
