<div class="cont1">
   <div class="cont">
     <div class="my-profile">
 
         <h1>Welcome!!</h1>
       
     <a routerLink="/user-profile" >
       <span class="flex">
         <span class="icon">
           <i class="fa-solid fa-user"></i>
         </span>
         <span class="text">
           <span class="p">My Profile</span>
         </span>
       </span>
     </a>
    
     </div>
     <div class="logout"  (click)="logout()">    
       <span class="flex">
         <span class="icon">
           <i class="fa-solid fa-person-running"></i>
         </span>
         <span class="text">
           <span class="p">Log out</span>
         </span>
       </span>
     </div>
 
     <div class="change-p">
       <a routerLink="/change-password" >
         <span class="flex">
           <span class="icon">
             <i class="fa-solid fa-lock"></i>
           </span>
           <span class="text">
             <span class="p">Change Password</span>
           </span>
         </span>
       </a>
     </div>    
   </div>
 </div>