<app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert>

<app-loader *ngIf="!vehicleType"></app-loader>
<div>
    <p-dialog [(visible)]="displayDialog" [modal]="true" [responsive]="true" [closable]="false"  class="absolute rounded-full">
        <div class="w-[80vh] h-[60vh] flex items-start justify-center ">
            <div class="h-[100%] w-[95%]">
                <div class="h-[10%] flex items-center justify-between w-full"> 
                    <h3 class="h3 text-[#28094F]">Edit Vehicle</h3>
                    <button (click)="close()">
                        <i class="fa fa-times text-[20px]" aria-hidden="true"></i>
                    </button>
                </div>
                <div class=" overflow-y-scroll h-[80%] w-full flex  items-start"> 
                    <div class="w-full">   
                        <form>
                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label>Vehicle Type:</label>
                                        <input type="text" [(ngModel)]="vehicleType.vehicle_type" name="vehicle_type" 
                                                class="form-control form-control-alternative" placeholder="Vehicle type"value="{{vehicleType.vehicle_type}}">
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label>Minimum Fare:</label>
                                        <input type="text" [(ngModel)]="vehicleType.minimum_fare" name="minimum_fare" 
                                            class="form-control form-control-alternative" placeholder="Min Fare" value="{{vehicleType.minimum_fare }}">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label>Vehicle Make:</label>
                                        <input type="text" [(ngModel)]="vehicleType.make" name="make" 
                                        class="form-control form-control-alternative" placeholder="Vehicle Make" value="{{vehicleType.make }}">
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label>Vehicle Model:</label>
                                        <input type="text" [(ngModel)]="vehicleType.model" name="model" 
                                class="form-control form-control-alternative" placeholder="Vehicle Model" value="{{vehicleType.model }}">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label>Trip Type:</label>
                                        <input type="text" [(ngModel)]="vehicleType.trip_type" name="trip_type" 
                                        class="form-control form-control-alternative" placeholder="Trip Type" value="{{vehicleType.trip_type }}">
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label>Commission(%):</label>
                                        <input type="text" [(ngModel)]="vehicleType.commission" name="commission" 
                                            class="form-control form-control-alternative" placeholder="Commssion" value="{{vehicleType.commission }}">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label>Per Km Rate:</label>
                                        <input type="text" [(ngModel)]="vehicleType.per_km_rate" name="per_km_rate" 
                                    class="form-control form-control-alternative" placeholder="Per KM Rate" value="{{vehicleType.per_km_rate }}">
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label>Is Vehicle Available?:</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Avalaibility" [value]="vehicleType.isactive === '1' ? 'Yes' : vehicleType.isactive=== '0' ? 'No' : vehicleType.isactive" readonly="true">                       
                                    </div>
                                </div>
                            </div>
                            <div class="flex w-full justify-between h-[auto]">
                                    <div class="w-[49%]">
                                        <label>Rate Per Mimnute :</label>
                                        <input type="text" [(ngModel)]="vehicleType.per_minute_rate" name="per_minute_rate" 
                                        class="form-control form-control-alternative" placeholder="Per Minute Rate" value="{{vehicleType.per_minute_rate }}">
                                    </div>
                                    <div class="w-[49%]">
                                        <label>Base Fare:</label>
                                        <input type="text" [(ngModel)]="vehicleType.base_fare" name="per_minute_rate" 
                                        class="form-control form-control-alternative" placeholder="Base Fare" value="{{vehicleType.base_fare }}">
                                    </div>
                                </div>
                            
                                <div class="flex w-full justify-between h-[auto] mt-4">
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label>Toll Fees:</label>
                                            <input type="text" [(ngModel)]="vehicleType.tolls_fees" name="tolls_fees" 
                                            class="form-control form-control-alternative" placeholder="Tolls Fees" value="{{vehicleType.tolls_fees }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Available Seats:</label>
                                            <input type="text" [(ngModel)]="vehicleType.available_seat" name="available_seat" 
                                                class="form-control form-control-alternative" placeholder="Availabe Seat" value="{{vehicleType.available_seat }}">
                                        </div>
                                    </div>
                            
                                    <div class="w-[49%]">
                                        <div class="form-group">
                                            <label>Description:</label>
                                            <input type="text" [(ngModel)]="vehicleType.description" name="description" 
                                                class="form-control form-control-alternative" placeholder="Description" value="{{vehicleType.description}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Model year:</label>
                                            <input type="text" [(ngModel)]="vehicleType.year" name="year" 
                                                class="form-control form-control-alternative" placeholder="Year" value="{{vehicleType.year }}">
                                        </div>
                                    </div>
                                </div>
                            
                            <div>
                                <h4 class="h4 text-[#28094F]">Toggle Fee</h4>
                            </div>

                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="flat rate">Flat Rate Fee?:</label>
                                        <select id="toggle" name="toggle">
                                            <option *ngFor="let option of selectActive" [value]="option.name">{{ option.name }}</option>
                                        </select> 
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="flat Rate Fee">Peek Hour Fare:</label>
                                        <input type="text" [(ngModel)]="vehicleType.peek_hour_fare" name="peek_hour_fare" 
                                    class="form-control form-control-alternative" placeholder="Peek Hour Fare" value="{{vehicleType.peek_hour_fare }}">
                                    </div>
                                </div>
                            </div>

                            <div>
                                <h4 class="h4 text-[#28094F]">Cancellation Charges</h4>
                            </div>

                            <div class="flex w-full justify-between h-[auto]">
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="vehicle_docu">Rider:</label>
                                        <input type="text" [(ngModel)]="vehicleType.cancel_charge_rider" name="cancel_charge_rider"
                                        class="form-control form-control-alternative" placeholder="Cancel Charge Rider" value="{{vehicleType.cancel_charge_rider }}">
                                    </div>
                                </div>
                                <div class="w-[49%]">
                                    <div class="form-group">
                                        <label htmlFor="multi-docu">Driver:</label>
                                        <input type="text" [(ngModel)]="vehicleType.cancel_charge_driver" name="cancel_charge_driver"
                                                class="form-control form-control-alternative" placeholder="Cancel Charge Driver" value="{{vehicleType.cancel_charge_driver }}">
                                    </div>
                                </div>
                            </div>
                        </form>
                     </div>            
                </div>
                <div class="h-[10%] w-full flex justify-between">
                    <div class="btn w-[48%]">
                        <app-button buttonText="Delete" borderColor="#f01717" bgColor="#f01717" textColor="#FFFFFF" (click)="deleteVehicle()"

                        ></app-button>
                    </div>
                    <div class="btn w-[48%]">      
                        <app-button buttonText="Save" borderColor="#28094F" bgColor="#28094F" textColor="#FFFFFF" (click)="update()"
                        
                        ></app-button>            
                    </div>
                </div>
            </div>    
        </div>
    </p-dialog>
</div>
