.form-style {
    display: block;
    width: 100%;
    color: rgb(6, 6, 36);            
}

.form-error {
    color: rgb(245, 72, 72);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: justify;
    line-height: 1.4rem;
}
.form-controls {
    border: 2px solid ;
    border-radius: 12px;
    color: #CBD5E1;
    padding: 12px;
    width: 100%;
}

label {
    color: #344054;
}

