<!-- <app-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
  </app-alert> -->
  <div class="container ">
    <h1 class="h1 text-brand900">Forgot Password</h1>
  <p>Enter your email address below to reset your password</p>
  <div class=" mt-4">
    <form role="form" [formGroup]="forgotPassForm" (ngSubmit)="submitEMail()">
      <div class="form-group">
        <div>
          <label>Email Address</label>
          <input class="form-controls" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" 
            type="email" name="email"
            placeholder="example@outlook.com" required pattern="^[a-zA - Z0-9]*$"
          />
        </div>
      </div>
      <div class="form-group">
        <label>Account Type</label>
        <div>
          <select class="form-controls" id="user_type" aria-placeholder="Account Type" name="user_type" formControlName="user_type">
            <option *ngFor="let option of userType" [value]="option.code">{{ option.type }}</option>
         </select>
        </div>        
      </div>
    
      <div class="text-center mt--2">
        <button type="submit" class="btn w-[100%] rounded-[50px] p-3 btn-primary my-4"
        [disabled]="forgotPassForm.invalid || inSubmission">
         Continue
        </button>
      </div>
    </form>
  </div>
</div>

  
  