<app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert>
<div class="main-container">
    <div class="header">
        <div class="add-admin-form">
           <div class="card">
            <div class="card-title">
                <h5>Add  Notifications  </h5>
            </div>
        <div class="card-body">
            <form [formGroup]="addNotify" (ngSubmit)="submitNotify()">
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="title">Title*</label>
                            </div>
                             <app-vr-input pInputText [control]="title" name="title" type="text" placeholder="Title" ></app-vr-input> 
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="textBody">Description*</label>
                            </div>
                             <app-vr-input pInputText [control]="textBody" name="textBody" type="text" placeholder="Description"></app-vr-input> 
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="date">Date*</label>
                            </div>
                            <app-vr-input pInputText type="datetime-local" [control]="sendDate" name="date" placeholder="Date" />
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="riders">Riders*</label>
                            </div>
                            <select id="riders" name="riders" formControlName="riders">
                                <option *ngFor="let option of options" [value]="option.id" >{{ option.name }}</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="phone">Drivers*</label>
                            </div>
                            <select id="drivers" name="drivers" formControlName="drivers">
                                <option *ngFor="let option of options" [value]="option.id">{{ option.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="password">UnApproved Drivers*</label>
                            </div>
                            <select id="udrivers" name="udrivers" formControlName="udrivers">
                                <option *ngFor="let option of options" [value]="option.id">{{ option.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
              

                <!-- <div class="btn"> -->
                    <button type="submit" label="submit"  class="button btn-primary my-4"
                    (click)="submitNotify()"
  
                    >
                       Add 
                    </button>
                    <button type="submit" label="submit" class="button" (click)="reset()">
                       Cancel
                    </button>
                <!-- </div> -->
              </form>
            </div>
           </div>
        </div>
    </div>
    <div class="footer"></div>

</div>