<app-loader *ngIf="showLoader"></app-loader>
                    <p-table *ngIf="!showLoader"
                        [value]="surge"
                        [paginator]="true"
                        [rows]="10"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate=""
                        [rowsPerPageOptions]="[10, 25, 50]"
                    >
                        <ng-template pTemplate="header">
                            <tr style="height: 3rem; border-color: hsla(225, 26%, 74%, 0.502); border-top-width: 0.2px; border-bottom-width:0.2px ;">
                                <th style="width:5%"> SERIAL </th>
                                <th style="width:10%">PICKUP </th>
                                <th style="width:5%">DESTINATION</th>
                                <th style="width:5%">TRIP </th>
                                <th style="width:5%">START TIME</th>
                                <th style="width:5%">MULTIPLIER</th>
                               			 	
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-surge>
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ">
                                <td>{{surge.id}}</td>
                                <td>{{surge.chargeOption}}</td>
                                <td>{{surge.city}}</td>
                                <td>{{surge.surgeSelected}}</td>
                                <td>{{surge.startTime}}</td>
                                <td>{{surge.multiplier}}</td>
                                <!-- <td>{{partners.lastname}}</td>
                                <td>{{partners.email}}</td>
                                <td>{{partners.phone_no}}</td>
                                <td>{{partners.ref_code}}</td> -->
                                <!-- <td>{{partners.holder_name}}</td> -->
                                <!-- <td>
                                    <a routerLink="/updateUser/{{surge.id}}/edit">
                                        <button pButton pRipple type="button" icon="fa-solid fa-pencil" class="p-button-rounded p-button-text"></button>
                                    </a>
                                </td> -->
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorleft">
                                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                        </p-table>  
                    