<div class="container">
  <h1 class="h1 text-brand900">Reset Password</h1>
  <p>Create your new password</p>
  <form role="form" (ngSubmit)="resetPassword()" #passwordForm="ngForm">
    <div class="form-group position-relative mt-3">
      <label>New Password</label>
      <div class="password-input">
        <input class="form-controls" 
               [type]="hidePassword ? 'password' : 'text'" 
               name="password" [(ngModel)]="password"
               placeholder="Password" required pattern="^[a-zA-Z0-9]*$"/>
        <span class="eye-icon" (click)="hidePassword = !hidePassword">
          <i class="fa-solid text-[#CBD5E1]" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>
      </div>
      <p *ngIf="passwordForm.controls['password'].errors && 
                 (passwordForm.controls['password'].touched || passwordForm.submitted)" 
         class="form-error">
        Password must have at least a letter and a number
      </p>
    </div>
    
    <div class="form-group position-relative mt-3">
      <label>Confirm Password</label>
      <input class="form-controls" 
             type="password" 
             name="confirmPassword" [(ngModel)]="confirmPassword"
             placeholder="Confirm Password" required />
      <p *ngIf="password !== confirmPassword && 
                 (passwordForm.controls['confirmPassword'].touched || passwordForm.submitted)" 
         class="form-error">
        Passwords do not match
      </p>
    </div>
    
    <div class="text-center mt--2">
      <button type="submit" class="btn w-[100%] rounded-[50px] p-3 btn-primary my-4"
              [disabled]="!password || password !== confirmPassword || inSubmission">
        Save
      </button>
    </div>
  </form>
</div>
