<app-loader *ngIf="showLoader"></app-loader>
            <p-table *ngIf="!showLoader"
                        [value]="uninstalls"
                        [paginator]="true"
                        [rows]="10"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'min-width': '60rem' }"
                        currentPageReportTemplate=""
                        [rowsPerPageOptions]="[10, 25, 50]"
                    >
                        <ng-template pTemplate="header">
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ;">
                                <th style="width:2%"> USER ID </th>
                                <th style="width:5%">USER </th>
                                <th style="width:10%">DESCRIPTION </th>
                                <th style="width:5%">DEVICE_TYPE</th>
                                <th style="width:5%">EMAIL</th>
                                <th style="width:5%">DATE</th>			
                                <th style="width:5%">HAPPENED WITHIN </th>			
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-uninstalls>
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ">
                               <td>{{uninstalls.user_id}}</td>
                               <td>{{uninstalls.user}}</td>
                               <td>{{uninstalls.description}}</td>
                               <td>{{uninstalls.device_type}}</td>
                               <td>{{uninstalls.email}}</td>
                               <td>{{uninstalls.insert_time}}</td>
                               <td>{{uninstalls.earned}}</td>
                            </tr>
                        </ng-template>                       
                            <ng-template pTemplate="paginatorleft">
                                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                        </p-table>  
                  