<app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert>
<div class="main-container">
    <div class="header">
        <div class="add-admin-form">
           <div class="card">
            <div class="card-title">
              
                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                    <div style="width: 10%;">
                      <img src={{quest.icon}} width="80px" style="border-radius: 20px;"/>
                    </div>
                    <div style="width: 50%; display: flex; justify-content: center; flex-direction: column;">
                       <h6>Add Location to </h6>
                       <h5>{{quest.title}}</h5>
                    </div>
                    <div style="width: 40%; display:flex; justify-content: end;">
                       <button (click)="addLocation()" class="button">
                            Add Location
                       </button>
                    </div>
                </div>
            </div>
        <app-loader *ngIf="!quest"></app-loader>
          <div class="card-body"*ngIf="quest" >       
           
                <form role="form" #locationForm="ngForm" (ngSubmit)="addLocation()">
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="points">Points*</label>
                                </div>
                                <div>
                                    <input type="text"  [(ngModel)]="quest.points" name="points" class="form-control form-control-alternative" placeholder="Points" value="{{quest.points}}">
                                </div>
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="radius">Radius*</label>
                                </div>
                                <div>
                                    <input type="text" label="radius" [(ngModel)]="credentials.radius" name="radius" class="form-control form-control-alternative" placeholder="Radius" value="{{credentials.radius}}" >
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="container"> 
                        <div class="card-location ">
                            <div class="form-group">
                                <div>
                                    <label>Add Location*</label>
                                </div>
                                <div>
                                    <input type="text" id="searchInput" #searchInput class="controls"  label="location" 
                                     [(ngModel)]="credentials.location" name="location" placeholder="Search for location" 
                                     class="form-control form-control-alternative" value="{{credentials.location}}" (input)="onSearchInput()"/>
                                     <div id="predictionsContainer"></div>   
                                </div>
                                
                            </div>
                        </div>
                        <div class="map-container">
                            <div class="card shadow border-1 google-map">
                                <google-map (mapClick)="mapClicked($event)" [center]="center" [zoom]="zoom" width="100%">
                                    <map-marker [position]="markerPosition"></map-marker>
                                </google-map>  
                            </div>
                        </div>
                    </div>    
                       
                </form>
            </div>
           </div>
        </div>
    </div>
    <div class="footer"></div>
</div>