<app-loader *ngIf="showLoader"></app-loader>
                    <p-table *ngIf="!showLoader"
                        [value]="referal"
                        [paginator]="true"
                        [rows]="10"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'min-width': '60rem' }"
                        currentPageReportTemplate=""
                        [rowsPerPageOptions]="[10, 25, 50]"
                    >
                        <ng-template pTemplate="header">
                            <tr class="h-12 border-t border-b border-gray-300">
                                <th class="w-[2%] capitalize">User ID</th>
                                <th class="w-[5%] capitalize">First Name</th>
                                <th class="w-[5%] capitalize">Last Name</th>
                                <th class="w-[5%] capitalize">Registration Date</th>
                                <th class="w-[5%] capitalize">Referee</th>
                                <th class="w-[5%] capitalize">Earned</th>
                            </tr>                            
                        </ng-template>
                        <ng-template pTemplate="body" let-referal>
                            <tr class="h-12 border-t border-b border-gray-300">
                               <td>{{referal.userid}}</td>
                               <td>{{referal.firstname}}</td>
                               <td>{{referal.lastname}}</td>
                               <td>{{referal.created_at}}</td>
                               <td>{{referal.referee}}</td>
                               <td>&#x20A6; {{referal.earned}}</td>
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorleft">
                                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                        </p-table>  