<div class="main-container">
    <div class="header">
        <div class="view-admin-grid">
            <div class="container">
                <div class="card">
                    <div class="grid-header">
                        <div class="title">
                            <h6>Upcoming Trips</h6>
                        </div>
                        <div class="search">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search">         
                            </span>
                        </div>
                        <div class="export">
                            <button class="button" type="submit" label="submit">
                                Export
                             </button>
                        </div>
                    </div> 
                    <div>
                        <app-loader *ngIf="showLoader"></app-loader>
                        <p-table *ngIf="!showLoader"
                        [value]="trips"
                        [paginator]="true"
                        [rows]="6"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'min-width': '80rem' }"
                        currentPageReportTemplate=""
                        [rowsPerPageOptions]="[10, 25, 50]"
                    >
                        <ng-template pTemplate="header">
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ;">
                                <th style="width:5%">TRIP TYPE </th>
                                <th style="width:5%">TRIP NO </th>
                                <th style="width:5%">DATE</th>
                                <th style="width:5%">DRIVER </th>
                                <th style="width:5%">RIDER </th>
                                <th style="width:5%">ACTUAL AMOUNT (&#x20A6;)</th>
                                <th style="width:5%">TRIP ROUNDING AMOUNT (&#x20A6;)</th>
                                <th style="width:5%">VEHICLE TYPE</th>
                                <th style="width:5%">TRIP STATUS </th>
                                <th style="width:5%">PAYMENT MODE</th>
                                <th style="width:5%">PAST/
                                    UPCOMING</th>
                                <th style="width:5%">ACTION</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-trips>
                        <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px " *ngIf="trips.trip_status === '1'">
                                <td>
                                    <div *ngIf="trips.trip_type == '1'">
                                        Individual
                                    </div>
                                </td>
                                <td>VRM {{ trips.id }}</td>
                                <td> {{ trips.utc_trip_datetime  | date:'short':'UTC' }}</td>
                                <td>{{ trips.driver_firstname }}</td>
                                <td>{{ trips.firstname }}  {{ trips.lastname }}</td>
                                <td>{{ trips.trip_amount }}</td>
                                <td>{{ trips.trip_amount_without_discount }}</td>
                                <td>
                                    {{ trips.vehicle_type }}
                                    {{ trips.make }}
                                </td>
                                <td>
                                    <div *ngIf="trips.trip_status == 3">
                                        <span>Completed</span>
                                    </div>
                                    <div *ngIf="trips.trip_status == 6">
                                        <span>Cancelled</span>
                                    </div>
                                    
                                </td>
                                <td>{{ trips.payment_type }}</td>
                                <td>{{ trips.past }}</td>  
                                
                                <!-- <td>
                                    <div *ngIf="trips.isViewable">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>  
                                </td> -->
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorleft">
                                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                        </p-table>  
                    </div>
                </div>
            </div>    
        </div>
    </div>
       
    <div class="footer"></div>
</div>