<!-- <app-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
  </app-alert> -->
  <div class="container">
    <div class="row justify-content-center">
        <h1 class="h1 text-brand900">Enter OTP</h1>
        <p>We sent you an OTP to <span class=" text-[brand900] font-[600]">{{emailParam}}</span></p>
            <form role="form" (ngSubmit)="submitOTP()">
              
              <div class=" p-4 mt-2 ">   
                <p class="pb-2">Enter OTP</p>           
                  <!-- <input class="form-control" [(ngModel)]="OTPcode"  
                    type="email" name="OTP"
                    placeholder="OTP" required pattern="^[a-zA - Z0-9]*$"
                  /> -->
                  <app-otp-field (otpChange)="handleOtpChange($event)"></app-otp-field>
              </div>
              <div class="text-center mt-1">
                <button type="submit" class="btn w-[100%] rounded-[50px] p-3 btn-primary my-4"
                
                >
                 Submit
                </button>
              </div>
            </form>
            <!-- <a [routerLink]="['/forgot-password']" >
              <p>Didn't receiver OTP?  </p>
            </a> -->
      </div>
  </div>
  