<app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert>
<div class="main-container">
    <div class="header">
        <div class="add-admin-form">
           <div class="card">
            <div class="card-title">
                <h5>Add Surge</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="surgeForm">
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="Surge Charge">Surge Charge*</label>
                                </div>
                                <app-vr-input pInputText [control]="charge" type="text" placeholder="Charge" ></app-vr-input> 
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="Charge Options">Charge Option*</label>
                                </div>
                                <select id="charge option" name="charge_option" [formControl]="chargeOption">
                                    <option *ngFor="let option of options" [value]="option.charge">{{ option.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="Start Date">Start Date*</label>
                                </div>
                                <app-vr-input pInputText type="date" [control]="startTime" name="start date" placeholder="Start Date" />
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="Start Date">End Date*</label>
                                </div>
                                <app-vr-input pInputText type="date" [control]="endTime" name="end date" placeholder="End Date" />
                            </div>
                        </div>   
                    </div>
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="Date">Date*</label>
                                </div>
                                <app-vr-input pInputText type="date" [control]="startTime" name="date" placeholder="Date" />
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="city">City*</label>
                                </div>
                                <select id="city" name="city" [formControl]="city">
                                    <option *ngFor="let option of cities" [value]="option.name">{{ option.name }}</option>
                                </select>
                            </div>
                        </div>   
                    </div>
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="Ratio">Ratio*</label>
                                </div>
                                <app-vr-input pInputText [control]="ratio" type="text" placeholder="Ratio"></app-vr-input> 
                            </div>
                        </div> 
                    </div> 
                    <div class="button_container">
                        <button type="submit" label="submit" class="button btn-primary" 
                        (click)="onSubmit()">
                            Add 
                        </button>
                        <button type="submit" label="submit" class="button btn-secondary" >
                            Cancel
                        </button>
                    </div>
                </form> 
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>

</div>
