/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


*{
    margin: 0;
    // padding: 0;
    scroll-behavior: smooth;
}

body{overflow-x: hidden;}

input[_ngcontent-ng-c2520345542] {
    width: 95%;
    height: 30% !important;
    padding: 10px;
    padding-top: 40px;
}
.p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

.p-dropdown .p-dropdown-label {
    width: 40px!important;
    height: 40px!important;
    padding: 10px!important;
    margin: 0px 0px;
    // margin-bottom: 10px;
}

.p-paginator {
    // background: red;
    color: #6c757d;
    border: solid #e9ecef;
    border-width: 0;
    padding: 0.5rem 1rem;
    border-radius: 0px;
    height: 100px;
    display: flex;
    justify-content: center;

}

.p-paginator button {
    // cursor: pointer;
    border-radius: 100px;
    // background-color: #a272e2;
    // // background-color: #37c7f3;    
    // color: white;
    // cursor: pointer;
}
.p-paginator  button:hover {
    // cursor: pointer;
    border-radius: 100px;
    background-color: #160729;
    color: white;
    cursor: pointer;
}

.p-paginator .p-ripple .p-element .p-paginator-first .p-paginator-element .p-link .p-disabled .ng-star-inserted {
    color: #03acca;
    background-color: #0b1526;
    height: 50px;
    width: 50px;
}
