<div *ngIf="!dashbaord_data" class="w-full h-full bg-white">
    <app-loader *ngIf="!dashbaord_data"></app-loader>
</div>
<div class="bg-[#F3F5FB]">
    <div class="header bg-white h-[70vh] flex justify-center w-full">
        <header>
            
        <div class="flex flex-wrap justify-center items-end w-full h-[60%] py-4 px-[20px]" *ngIf="dashbaord_data">
                <div class="card w-[20%] h-[120px] my-[10px] mx-[20px] flex items-center
                 justify-center bg-[#F8FAFC] hover:bg-[#28094F]">
                    <div class=" w-[90%] h-[80%] flex flex-col items-start justify-center group hover:text-white ">
                       <div class="flex items-center pb-3">
                            <i class="fa-solid fa-user "></i>
                            <span class="title mx-2 text=[#28094F] font-medium text-[14px] uppercase ">riders</span>
                          
                       </div> 
                       <span class="suntitle text=[#28094F] font-medium text-[18px] ">{{dashbaord_data.riders}}</span>
                    </div>
                </div>
                <div class="card w-[20%] h-[120px] my-[10px] mx-[20px] flex items-center
                justify-center bg-[#F8FAFC] hover:bg-[#28094F]">
                   <div class=" w-[90%] h-[80%] flex flex-col items-start justify-center group hover:text-white ">
                      <div class="flex items-center pb-3">
                           <i class="fa-solid fa-taxi"></i>
                           <span class="title text=[#28094F] mx-2 font-medium text-[14px] uppercase ">drivers</span>
                          
                      </div> 
                      <span class="suntitle text=[#28094F] font-medium text-[18px] ">{{dashbaord_data.drivers}}</span>
                   </div>
               </div>
               <div class="card w-[20%] h-[120px] my-[10px] mx-[20px] flex items-center
                 justify-center bg-[#F8FAFC] hover:bg-[#28094F]">
                    <div class=" w-[90%] h-[80%] flex flex-col items-start justify-center group hover:text-white ">
                       <div class="flex items-center pb-3">
                            <i class="fa-solid fa-truck-monster "></i>
                            <span class="title text=[#28094F] mx-2 font-medium text-[14px] uppercase ">vehicles</span>
                            
                       </div> 
                       <span class="suntitle text=[#28094F] font-medium text-[18px] ">{{dashbaord_data.vehicles}}</span>
                    </div>
                </div>
                <div class="card w-[20%] h-[120px] my-[10px] mx-[20px] flex items-center
               justify-center bg-[#F8FAFC] hover:bg-[#28094F]">
                  <div class=" w-[90%] h-[80%] flex flex-col items-start justify-center group hover:text-white ">
                     <div class="flex items-center pb-3">
                        <i class="fa-solid fa-person-walking-luggage"></i>
                          <span class="title text=[#28094F] mx-2 font-medium text-[14px] uppercase ">Trips</span>
                          
                     </div> 
                     <span class="suntitle text=[#28094F] font-medium text-[18px] ">{{dashbaord_data.trips}}</span>
                  </div>
              </div>
                <div class="card w-[20%] h-[120px] my-[10px] mx-[20px] flex items-center
                justify-center bg-[#F8FAFC] hover:bg-[#28094F]">
                   <div class=" w-[90%] h-[80%] flex flex-col items-start justify-center group hover:text-white ">
                      <div class="flex items-center pb-3">
                        <i class="fa-solid fa-plane-arrival"></i>
                           <span class="title text=[#28094F] mx-2 font-medium text-[14px] uppercase ">Completed Trips</span>
                           
                      </div> 
                      <span class="suntitle text=[#28094F] font-medium text-[18px] ">{{dashbaord_data.completedTrips }}</span>
                   </div>
               </div>
               
              <div class="card w-[20%] h-[120px] my-[10px] mx-[20px] flex items-center
              justify-center bg-[#F8FAFC] hover:bg-[#28094F]">
                 <div class=" w-[90%] h-[80%] flex flex-col items-start justify-center group hover:text-white ">
                    <div class="flex items-center pb-3">
                        <i class="fa-solid fa-money-bill-transfer"></i>
                         <span class="title text=[#28094F] mx-2 font-medium text-[14px] uppercase ">total trips payment</span>
                     
                    </div> 
                    <span class="suntitle text=[#28094F] font-medium text-[18px] ">&#8358; {{dashbaord_data.trip_payment}}</span>
                 </div>
             </div>
             <div class="card w-[20%] h-[120px] my-[10px] mx-[20px] flex items-center
             justify-center bg-[#F8FAFC] hover:bg-[#28094F]">
                <div class=" w-[90%] h-[80%] flex flex-col items-start justify-center group hover:text-white ">
                   <div class="flex items-center pb-3">
                        <i class="fa-solid fa-piggy-bank"></i>
                        <span class="title text=[#28094F] mx-2 font-medium text-[14px] uppercase ">Total Trips Commission</span>
                        
                   </div> 
                   <span class="suntitle text=[#28094F] font-medium text-[18px] ">&#8358; {{dashbaord_data.total_adminShared}}</span>
                </div>
            </div>
            <div class="card w-[20%] h-[120px] my-[10px] mx-[20px] flex items-center
            justify-center bg-[#F8FAFC] hover:bg-[#28094F]">
               <div class=" w-[90%] h-[80%] flex flex-col items-start justify-center group hover:text-white ">
                  <div class="flex items-center pb-3">
                    <i class="fa-solid fa-road"></i>
                       <span class="title text=[#28094F] mx-2 font-medium text-[14px] uppercase ">total drivers earned</span>
                      
                  </div> 
                  <span class="suntitle text=[#28094F] font-medium text-[18px] ">{{dashbaord_data.total_driverShared}}</span>
               </div>
           </div>
            </div>
        </header>
    </div>
    <div class="footer w-full h-[70vh] bg-[#F3F5FB]">
        <div class="container w-[100%] h-[80vh] flex absolute flex justify-center items-center">
            <div class="card w-[90%] h-[90%] bg-gray-200"> <!-- Example background color -->
                <p-chart type="bar" [data]="data" [options]="options"></p-chart> <!-- Example text color -->
            </div>
        </div>
    </div>
</div>