<div class="w-full h-full">
    <p-dialog [(visible)]="displayDialog" [modal]="true" [responsive]="true" [closable]="false"  class="absolute">
         <div class="w-[80vh] h-[60vh] flex items-start justify-center ">
             <div class="h-[95%] w-[95%]">
                 <div class="h-[10%] flex items-center w-full"> 
                   <h3 class="h3 text-[#28094F]">Transction Details</h3>
                 </div>
                 <div class="h-[80%] w-full flex  items-start">
                     <div class="h-[50%] pt-4 w-full flex flex-wrap">

                         <div class="w-[50%]" >
                             <h5>Driver Code</h5>
                             <p> DRV {{ transactionDtls?.driver_id  }}</p>
                         </div>

                         <div class="w-[50%]" >
                             <h5>Driver Name</h5>
                            
                                
                                    <p *ngIf="transactionDtls?.firstname || transactionDtls?.lastname">
                                        {{transactionDtls?.firstname}} {{transactionDtls?.lastname}}
                                    </p>
                                    <p *ngIf="transactionDtls?.firstname == null || transactionDtls?.lastname ==  null">
                                        No name
                                    </p>
                                    <p *ngIf="transactionDtls?.firstname == '' || transactionDtls?.lastname ==  '' ">
                                        No name
                                    </p>
                                
                         </div>


                         <div class="w-[50%]">
                             <h5>Email</h5>
                             <p> {{ transactionDtls?.email }}</p>
                            
                            <p *ngIf="transactionDtls?.email == null || '' ">
                               No email
                            </p>
                         </div>

                         <div class="w-[50%]"  >
                             <h5>Phone Number</h5>
                             <p> {{ transactionDtls?.phone_no }}</p>
                            <div *ngIf="transactionDtls?.phone_no == null || '' ">
                                No Number
                            </div>
                         </div>

                         <div class="w-[50%]"  >
                             <h5>Cash Settlement</h5>
                             <p> {{ transactionDtls?.current_commission }}</p>
                         </div>
                         <div class="w-[50%]">
                             <h5>Last Payment Date</h5>
                             <p>
                                {{ transactionDtls?.last_settlement_date | date:'shortDate' }}
                                <span *ngIf="transactionDtls?.last_settlement_date === null || '' ">
                                 No Record
                                </span>
                            </p>
                           
                         </div>
                         <div class="w-[50%]">
                             <h5>Next Payment Date</h5>
                             <p>
                                {{ transactionDtls?.next_settlement_date | date:'shortDate'  }}
                                <span *ngIf="transactionDtls?.next_settlement_date === null || '' ">
                                No Record
                                </span>
                            </p>
                         </div>
                         
                     </div>
                 </div>
                 <div class="h-[10%] w-full flex justify-between">
                    <div class="btn w-[48%]">
                        <app-button buttonText="Cancel" borderColor="#F1F2F4" bgColor="transparent" (click)="toggleDialog()"></app-button>
                    </div>
                    <div class="btn w-[48%]">
                     <!-- <a routerLink="/users/{{transactionDtls?.id}}/edit" class="hover:text-brand900"> -->
                       <app-button buttonText="Transcation" borderColor="#28094F" bgColor="#28094F" textColor="#FFFFFF"></app-button>
                     <!-- </a>    -->
                 </div>
                 </div>
               </div>  
         </div>                                 
     </p-dialog>

 <div>
     <div >
         <div>
             <app-loader *ngIf="showLoader"></app-loader>
             <div *ngIf="showNoResults === true && !showLoader" class="w-full h-[80vh] flex items-center justify-center">
                 <h1 class="font-bold text-3xl text-gray-200">No Match Found</h1>
             </div>
                 <p-table *ngIf="!showLoader && !showNoResults" 
                         [value]="settlements"
                         [paginator]="true"
                         [rows]="10"
                         [showCurrentPageReport]="false"
                         [tableStyle]="{ 'min-width': '100%' }"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [rowsPerPageOptions]=""
                     >
                         <ng-template pTemplate="header">
                            <tr class="h-12 border-t border-b border-gray-300">
                                <th class="w-[20%] capitalize">Driver Code</th>
                                <th class="w-[20%] capitalize">Driver Name</th>
                                <th class="w-[20%] capitalize">Email</th>
                                <th class="w-[20%] capitalize">Phone</th>
                                <th class="w-[10%] capitalize">Cash </th>
                                <th class="w-[10%] capitalize">Actions </th>
                                <!-- <th class="w-[10%] capitalize">History</th>
                                <th class="w-[10%] capitalize">View Transaction</th>    -->
                            </tr>
                         </ng-template>
                         <ng-template pTemplate="body" let-settlements>
                             <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ">
                             
                                <td>DRV{{ settlements.driver_id }}</td>
                                <td>
                                    <div *ngIf="settlements.firstname || settlements.lastname">
                                        {{settlements.firstname}} {{settlements.lastname}}
                                    </div>
                                    <div *ngIf="settlements.firstname == null || settlements.lastname ==  null">
                                        No name
                                    </div>
                                    <div *ngIf="settlements.firstname == '' || settlements.lastname ==  '' ">
                                        No name
                                    </div>
                                </td>
                                <td>
                                    <div class=" flex flex-wrap w-[50%]" *ngIf="settlements.email">
                                        {{settlements.email}}
                                    </div>
                                    <div *ngIf="settlements.email == null || '' ">
                                       No email
                                    </div>
                                  
                                </td>
                                <td>
                                    <div *ngIf="settlements.phone_no">
                                        {{ settlements.phone_no }}
                                    </div>
                                    <div *ngIf="settlements.phone_no == null">
                                        No phone
                                    </div>
                                    <div *ngIf="settlements.phone_no == null">
                                        No phone
                                    </div>
                                </td>
                                <td class="text-danger">{{ settlements.current_commission }}</td>

                                 <td class="action flex justify-between">
                                     <span class="edit">
                                         <div class="flex align-items-center justify-content-center gap-2">
                                            <span (click)="userAction(settlements.id)">
                                             <button pButton pRipple type="button" icon="fa-solid fa-ellipsis-vertical" class="p-button-rounded p-button-text"></button>
                                            </span>
                                         </div>
                                     </span>
                                 </td> 
                             </tr>
                             <div class="z-[9999] card  w-36 h-36 ml-[60rem] bg-white drop-shadow-xl absolute" *ngIf="selectedUserId === settlements.id">
                                 <div class="h-[33%] bg-[#FAFAF9] rounded-t-md flex items-center justify-center red-400">
                                     <p class="font-medium">More Actions</p>
                                 </div>
                                 <div class="h-[32%] flex items-center border-y-[0.5px] border-[#EEECF6] justify-center ">
                                     <span class="text-brand900 cursor-pointer hover:font-bold" (click)="viewTransactionDtl(settlements)" >
                                         <span class="hover:font-medium">View Transaction</span> 
                                     </span>
                                 </div>
                                 <div class="h-[32%] flex items-center justify-center">
                                     <!-- <a routerLink="/users/{{settlements.id}}/edit" class="hover:text-brand900"> -->
                                        <span class="hover:font-medium">View History</span> 
                                     <!-- </a> -->
                                 </div>
                             </div>
                         </ng-template>
                         
                             <ng-template pTemplate="paginatorleft">
                                 <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                             </ng-template>
                             <ng-template pTemplate="paginatorright">
                                 <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                             </ng-template>
                 </p-table>  
             </div>
             </div>
         </div>    
</div>
